@media screen and (max-width: 760px) {
     
    #main-content {
        display: flex;
        flex-wrap: wrap;
    }

    main {
        width: fit-content;
    }

    aside {
        width: fit-content;
        padding-right: 1.5em;
        font-size: 0.9em;
    }

    header {
        padding-top: 2em;
    }



}